* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(#38045a 0%, #38043d 33.33%, #20022c 66.67%, #01080E 100%);
    display: flex;
    flex-direction: column;
    position: relative;
}

body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

.container {
    flex: 1;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #520352;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}

.container__conteudo {
    display: flex;
    align-items: center;
}

.container__informacoes {
    flex: 1;
    padding: 3rem;
}

.container__botao {
    border-radius: 16px;
    background: #38045a;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__botoes {
    display: flex;
    gap: 2em;
}

.container__texto {
    margin: 16px 0;
}

.container__texto-azul {
    color: #38045a;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    padding-bottom: 3rem;
}

p,
button {
    font-family: 'Inter', sans-serif;
}

.texto__paragrafo {
    font-size: 32px;
    font-weight: 400;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #38045a;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

button:disabled {
    background-color: gray;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 4rem;
    margin-top: auto;
}

.rodape__titulo {
    font-size: 2rem;
    font-weight: 600;
}

.lista-rodape {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.6rem;
}

.lista-rodape__titulo {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
    opacity: 0.8;
}

.lista-rodape__item {
    font-size: 1rem;
}

.rodape__link {
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.rodape__link:hover {
    opacity: 1;
}

@media screen and (max-width: 1250px) {

    h1 {
        font-size: 50px;
    }

    .container__botao {
        font-size: 16px;
    }

    .texto__paragrafo {
        font-size: 24px;
    }

    .container__imagem-pessoa {
        display: none;
    }

    .container__conteudo {
        display: block;
    }

    .container__informacoes {
        padding: 1rem;
    }

    .rodape {
        padding: 2rem 2.5rem;
    }

    .rodape__titulo {
        font-size: 1.7rem;
    }

    .lista-rodape {
        gap: 0.5rem;
    }

    .lista-rodape__titulo {
        font-size: 1.1rem;
    }

    .lista-rodape__item {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 768px) {
    .rodape {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
        padding: 2rem;
    }

    .lista-rodape {
        align-items: center;
    }
}

